{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Staff" %}{% endblock %}

{% block subnav%}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Options" %}</li>
        <li><a href="{% url create_unit %}">{% trans "Crear Unidad" %}</a></li>
        <li><a href="{% url register %}">{% trans "Registro de Conductores" %}</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "Personal Comteco" %}</h1>
    
    {% if user.is_authenticated %}
        {% autopaginate staff_list 10 %}
        <table class="table">
            {% for staff in staff_list %}
                <tr>
                    {% if staff.avatar != '' %}
                        <td><a href="{{MEDIA_URL}}{{staff.avatar}}"><img src="{{MEDIA_URL}}{{staff.avatar}}" width="40" height="40" alt=""></a></td>
                    {% else %}
                        <td><a href="{{MEDIA_URL}}img/avatar/default.jpg"><img src="{{MEDIA_URL}}img/avatar/default.jpg" width="40" height="40" alt=""></a></td>
                    {% endif %}
                    <td>{{ staff.full_name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% paginate %}
        <p>
        Esta plataforma realiza el control del personal interno y externo, como tambien el control
        de los activos fisicos.
        </p>
        
    {% else %}
        {% url acct_login as login_url %}
        
        <p class="what_next">
            {% blocktrans %}Ingrese sus datos <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
