{% extends "subnav_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Unit" %}{% endblock %}

{% block subnav%}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Options" %}</li>
        <li><a href="{% url staff %}">{% trans "Lista de Personal" %}</a></li>
        <li><a href="{% url create_unit %}">{% trans "Crear Unidad" %}</a></li>
        <li><a href="{% url register %}">{% trans "Registro de Conductores" %}</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "Forumulario para crear unidades" %}</h1>
    
    {% if user.is_authenticated %}
        <form action="{% url create_unit  %}" method="post" class="form-horizontal">
            <fieldset>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Done" %}</button>
                </div>
            </fieldset>
        </form>
    {% else %}
    {% endif %}
{% endblock %}
